<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>678956148693-pufg3ubre8g257oek4cqa39b2i61mhb1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.678956148693-pufg3ubre8g257oek4cqa39b2i61mhb1</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>678956148693-37omkkv6e4pl42h4jbl25q11bkbgkj78.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAcDXb_r9KAAzZEhg6rfRfTamC75blqKiM</string>
	<key>GCM_SENDER_ID</key>
	<string>678956148693</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.apipratice</string>
	<key>PROJECT_ID</key>
	<string>instagram-ee2d1</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-ee2d1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:678956148693:ios:36d2ab4b7b6e35f78cff5c</string>
	<key>DATABASE_URL</key>
	<string>https://instagram-ee2d1-default-rtdb.firebaseio.com</string>
</dict>
</plist>